html,
body,
.App {
  background: linear-gradient(to right, #010305, #131516);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  padding: 10px;
  margin-bottom: 40px;
}

button, .button {
  font-size: 16px;
  padding: 4px 14px;
  margin-right: 8px;
  border: 3px solid #222;
  outline: none;
  background: white;
  cursor: pointer;
}
button:hover {
  background: #6FC9C6;
  color: white;
}

button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}



.player-container {
  margin-top: 14px;
  margin-bottom: 24px;
  width: 80vw;
}
.visualizer-container {
  background: white;
  padding: 14px;
  overflow-x: auto;
  border: 3px solid black;
  width: 80vw;
}

/* d3 chart styles */
.line {
  fill: none;
  stroke: blue;
  stroke-width: 2;
}


.sequencer,
.controls {
  width: 80vw;
}
.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.control {
  text-align: center;
  max-width: 10vw;
}
.control input {
  margin-bottom: 20px;
}
.select-wrapper span.caret {
  color: inherit; /* Override materialize.css black */
}
.select-wrapper input.select-dropdown {
  margin-bottom: 10px;
}
.input-field {
  margin-top: 0;
}
input[type='range'] {
  border: 0;
}
input[type='range'] + .thumb {
  background-color: #2196f3;
}
input[type='range']::-webkit-slider-thumb {
  background-color: #2196f3;
}
input[type='range']::-moz-range-thumb {
  background-color: #2196f3;
}
input[type='range']::-ms-thumb {
  background-color: #2196f3;
}
.control .share {
  margin-top: 10px;
}
.midi {
  max-width: 200px;
  margin: 0 auto;
}
.sequencer {
  position: relative;
  height: 70vh;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.sequencer .legend {
  flex: 0.75;
  display: flex;
  flex-direction: column;
}
.drum-class {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 2.5px;
  font-size: 12px;
  color: #999;
}
.sequencer .steps {
  flex: 9;
  display: flex;
  flex-direction: row;
}
.step {
  flex: 1;
  display: flex;
  flex-direction: column;
  transform-style: preserve-3d;
  margin: 0 3px;
}
.steps {
  transform-style: preserve-3d;
}
.cell {
  margin: 2.5px 0;
  background-color: rgba(100, 100, 100, 0.1);
  border: 1px solid rgba(100, 100, 100, 0.2);
  border-radius: 3px;
  z-index: 0;
  transition: background-color 0.3s ease;
}

.seed .cell {
  cursor: pointer;
}

.seed .cell:hover {
  background-color: rgba(100, 100, 100, 0.5);
}
.step:not(.regenerating) .cell.on {
  background-color: #64b5f6;
  opacity: 1;
}

.step.seed .cell.on {
  background-color: #e91e63;
}


.kick {
  flex: 2;
  margin-bottom: 10px;
}
.snare {
  flex: 1;
  margin-top: 10px;
  margin-bottom: 10px;
}
.hi-hat-closed {
  flex: 1;
  margin-top: 10px;
}
.hi-hat-open {
  flex: 1;
  margin-bottom: 10px;
}
.tom-low {
  flex: 1;
  margin-top: 10px;
}
.tom-mid {
  flex: 1;
}
.tom-high {
  flex: 1;
  margin-bottom: 10px;
}
.clap {
  flex: 1;
  margin-top: 10px;
}
.rim {
  flex: 1;
}

.info {
  max-width: 50%;
  margin: 100px auto;
  text-align: center;
}
.info p {
  margin-top: 50px;
  line-height: 3em;
}

.info select{
  display: block;
}
