html,
body,
.App {
  background: linear-gradient(to right, #010305, #131516);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  padding: 10px;
  margin-bottom: 40px;
}

.visualizer-container {
  background: grey;
  padding: 14px;
  overflow-x: auto;
  width: 80vw;
}

.visualizer-container canvas{
  background: white;
  margin: 0;
}

.transport{
  height: 10px;
  background: #ddd;
  width: 960px;
  margin: 10px 0;
  position: relative;
}




#generating{
  height: 5px;
  bottom: 0;
  background: #a8d;
  position: absolute;
}

#seed{
  height: 5px;
  top: 0;
  background: #fa8;
  position: absolute;
}

#progress{
  height: 10px;
  background: #666;
  width: 10px;
  margin-left: -5px;
  position: absolute;
}

/* dat GUI overrides*/
.dg .cr.string, .dg .cr.boolean ,.dg .cr.color , .dg .cr.function ,.dg .cr.number {
  border-left: 0 !important;
}
